<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de aluno</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />

<!--Import materialize.min.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />

</head>
<body>

	<h1>Tela de Cadastro de aluno</h1>
	<br />
	<br />

	<div class="row">
		<form action="salvar_aluno" id="formaluno" method="post"
			th:object="${aluno_obj}" class="col s12">
			<!-- post igual como foi mapeado -->

			<div class="row">
				<div class="input-field col s2">
					<label for="id" class="active">ID: </label> <input name="id"
						th:field="*{id}" id="id" readonly="readonly" class="validate">
				</div>
				<div class="input-field col s6">
					<label for="nome" class="active"> Nome: </label> <input name="nome"
						th:field="*{nome}" id="nome" class="validate">
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<label for="email" class="active"> Email: </label> <input
						name="email" th:field="*{email}" id="email" class="validate">
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					<input class="waves-effect waves-light btn" type="submit"
						value="Salvar">

					<button class="waves-effect waves-light btn"
						onclick="document.getElementById('formaluno') = null;">
						Limpar</button>
				</div>
			</div>

		</form>
	</div>

	<br />
	<br />

	<div class="row">
		<form action="pesquisar_aluno" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<label for="pesquisa_nome" class="active"> Pesquisar por
						nome: </label> <input name="pesquisa_nome" id="pesquisa_nome"
						class="validate"> <input
						class="waves-effect waves-light btn" type="submit"
						value="Pesquisar"> <a class="waves-effect waves-light btn"
						href="/lista_aluno"> Lista de Aluno </a>
				</div>
			</div>
		</form>
	</div>

	<table class="striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>email</th>
				<th>Editar</th>
				<th>Excluir</th>
			</tr>
		</thead>

		<tr th:each="aluno : ${alunos}">

			<td th:text="${aluno.id}"></td>
			<td th:text="${aluno.nome}"></td>
			<td th:text="${aluno.email}"></td>
			<td><a
				th:href="@{/alterar_aluno/{id_aluno}(id_aluno=${aluno.id})}">
					Editar </a></td>
			<td><a
				th:href="@{/deletar_aluno/{id_aluno}(id_aluno=${aluno.id})}">
					Excluir </a></td>
		</tr>

	</table>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

</body>
</html>